@font-face {
  font-family: 'Figtree';
  src: url(assets/fonts/static/Figtree-ExtraBold.ttf) format('truetype');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Figtree';
  src: url(assets/fonts/static/Figtree-Medium.ttf) format('truetype');
  font-weight: 500;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Figtree', sans-serif;
  background-color: rgba(244, 208, 78, 1);
  display: flex;
  justify-content: center;
    align-items: center;
    height: 100vh;
}
.blog-preview-card {
  width: 384px;
  height: 522px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 8px 8px 0px 0px #000000;
  overflow: hidden;
  padding: 24px;
  gap: 24px;
    display: flex;  
    flex-direction: column; 
}
.card-image {
  border-radius: 10px;
  background-size: cover;
}
.card-content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.category {
  font-size: 14px;
  font-weight: 800;
  line-height: 150%;
  color: #111111;
  background-color: #F4D04E;
  display: inline-block;
  padding: 4px 12px;
  align-self: flex-start;
  border-radius: 4px;
}
.date {
  font-size: 14px;
  font-weight: 500;
  line-height: 150%;
  color: #111111;
}
.title {
  font-size: 24px;
  font-weight: 800;
  line-height: 150%;
  color: #111111;
}
.title:hover {
  color: #F4D04E;
  cursor: pointer;
}
.description {
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  color: #6B6B6B;
}
.author {
  display: flex;
  align-items: center;
  gap: 12px;
}
.author-avatar {
  width: 32px;
  height: 32px;
}
.author-name {
  font-size: 14px;
  font-weight: 800;
  line-height: 150%;
  color: #111111;
}
